<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">DevExpress</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <DxAccordion ExpandMode="AccordionExpandMode.Single"
                     ExpandCollapseAction="AccordionExpandCollapseAction.HeaderClick"
                     AnimationType="LayoutAnimationType.Slide">
            <Items>
                <DxAccordionItem Text="Grids">
                    <ContentTemplate>
                        <NavLink class="nav-link px-4 pt-1" href="/Grids/General">General</NavLink>
                        <NavLink class="nav-link px-4 pt-1" href="/Grids/RowSelection">Rows Selection</NavLink>
                        <NavLink class="nav-link px-4 py-1" href="/Grids/EditRow">Edit in Row</NavLink>
                        <NavLink class="nav-link px-4 py-1" href="/Grids/Pagining">Pagining</NavLink>
                    </ContentTemplate>
                </DxAccordionItem>
                <DxAccordionItem Text="Charts">
                    <ContentTemplate>
                        <NavLink class="nav-link" href="Grid1">Grid1</NavLink>
                        <NavLink class="nav-link" href="Grid2">Grid2</NavLink>
                    </ContentTemplate>
                </DxAccordionItem>
                <DxAccordionItem Text="Data Editors">
                    <ContentTemplate>
                        <NavLink class="nav-link" href="Grid1">Grid1</NavLink>
                        <NavLink class="nav-link" href="Grid2">Grid2</NavLink>
                    </ContentTemplate>
                </DxAccordionItem>
            </Items>
        </DxAccordion>
        @* <div class="nav-item px-3">
        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
        <span class="oi oi-home" aria-hidden="true"></span> Home
        </NavLink>
        </div>
        <div class="nav-item px-3">
        <NavLink class="nav-link" href="counter">
        <span class="oi oi-plus" aria-hidden="true"></span> Counter
        </NavLink>
        </div>
        <div class="nav-item px-3">
        <NavLink class="nav-link" href="fetchdata">
        <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
        </NavLink>
        </div> *@
    </nav>
</div>
@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
